
.speech{
	font: "Courier New";
	font-size: 20px;
	color: rgb(0, 0, 0);
}

.song{
	font: Arial;
	font-size: 20px;
	color: black;
}

.direction {
	font: Arial;
	font-size: 20px;
	color: black;
	background-color:rgb(227, 205, 205) ;
}
.direction:hover{
	color: white;
	background-color:black ;
}

.name{
	font: Arial;
	font-size: 20px;
	color: black;
}

.name:hover{
	text-shadow: 5px 5px 10px purple;
	filter: blur(1px);	
}

.adam {
	color: rgb(253, 4, 4);
}

.rob {
	color: blueviolet;
}

.both{
	color: rgb(94, 81, 141);
}

table{
	border: solid 4px;
	margin: auto;
	color: blue;
	text-align: center;
	border-collapse: collapse;
}
th, td {
	border: dashed 2px;
	padding: 10px;
}

ul.navigator {
	
	list-style-type: none;
	margin: 0;
	padding: 0;  
  }
  
  ul.navigator li {
	float:left;
	color:#000;
	background-color:rgb(198, 157, 236);
	border: 1px solid ;
	border-collapse: collapse;
  }
  
  ul.navigator a {
	display:block;
	padding:10px;
  

